/******************************************************************
Site Name: Paradigm
Author: Jack Machin

Stylesheet: Globals

Here's stuff that's going on NO MATTER WHAT. 
******************************************************************/

// Hacky responsive images
img {
  max-width: 100%;
  height: auto;
}


// Lobotomised Owl 
* + * {
 margin-top: .75em;
}